/* fakecss:D:/2023/swipegallery/src/punclayer.esbuild-svelte-fake-css */
.puncs.svelte-1x4nvvj {
  z-index: 9;
  position: absolute;
  user-select: none;
}
.punc.svelte-1x4nvvj {
  z-index: 9;
  position: absolute;
  color: rgba(255, 0, 0, 0.6);
  font-family: bolder;
}
.vline.svelte-1x4nvvj {
  position: absolute;
  z-index: 9;
  background: rgba(128, 128, 128, 0.3);
}

/* fakecss:D:/2023/swipegallery/src/swipevideo.esbuild-svelte-fake-css */
.container.svelte-1n8xl7s {
  width: 100%;
  background-color: rgb(243, 208, 160);
  height: 100%;
}
video.svelte-1n8xl7s {
  height: 100%;
  user-select: none;
  pointer-events: none;
  width: 100%;
}
.swipe.svelte-1n8xl7s {
  position: absolute;
  margin-top: 50%;
  left: 40%;
}
.pagenumber.svelte-1n8xl7s {
  position: absolute;
  bottom: 1%;
  font-size: 200%;
}
.sponsor.svelte-1n8xl7s {
  user-select: none;
  pointer-events: none;
  font-size: 4vh;
  font-weight: bold;
  position: absolute;
  color: red;
  opacity: 0.75;
  right: 1.1em;
  top: 50vh;
  writing-mode: vertical-lr;
}

/* fakecss:D:/2023/swipegallery/src/dictpopup.esbuild-svelte-fake-css */
.dictpopup.svelte-jp8tgd {
  height: 90%;
}
.iframe.svelte-jp8tgd {
  width: 100%;
  height: 100%;
}

/* fakecss:D:/2023/swipegallery/src/app.esbuild-svelte-fake-css */
.app.svelte-1vzgb8l {
  height: 99.5vh;
}
.closepopup.svelte-1vzgb8l {
  z-index: 999;
  font-size: 200%;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  color: black;
  font-weight: bold;
}
