/* fakecss:D:/2023/swipegallery/src/swipevideo.esbuild-svelte-fake-css */
.container.svelte-1n8xl7s {
  width: 100%;
  background-color: rgb(243, 208, 160);
  height: 100%;
}
video.svelte-1n8xl7s {
  height: 100%;
  user-select: none;
  pointer-events: none;
  width: 100%;
}
.swipe.svelte-1n8xl7s {
  position: absolute;
  margin-top: 50%;
  left: 40%;
}
.pagenumber.svelte-1n8xl7s {
  position: absolute;
  bottom: 1%;
  font-size: 200%;
}
.sponsor.svelte-1n8xl7s {
  user-select: none;
  pointer-events: none;
  font-size: 4vh;
  font-weight: bold;
  position: absolute;
  color: red;
  opacity: 0.75;
  right: 1.1em;
  top: 50vh;
  writing-mode: vertical-lr;
}

/* fakecss:D:/2023/swipegallery/src/dictpopup.esbuild-svelte-fake-css */
.iframe.svelte-5fpb3i {
  width: 100%;
  height: 100%;
}
.entry.svelte-5fpb3i {
  font-size: 7vh;
}
.text.svelte-5fpb3i {
  font-size: 5vh;
}
.clickable.svelte-5fpb3i {
  text-decoration: underline;
}

/* fakecss:D:/2023/swipegallery/src/translations.esbuild-svelte-fake-css */
.text.svelte-9lpogq {
  font-size: 5vh;
}

/* fakecss:D:/2023/swipegallery/src/app.esbuild-svelte-fake-css */
.app.svelte-1tur2b6 {
  height: 99.5vh;
}
.closepopup.svelte-1tur2b6 {
  z-index: 99;
  font-size: 200%;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  color: black;
  font-weight: bold;
}
